
.navbar-default {
  background-color: #fff;
  border: 1px solid $navbar-default-border;
}

.navbar {
  position: relative;
  min-height: 50px;
  margin-bottom: 22px;
  background-color:$navbar-default-bg;

  .btn {
    a {
      color:white;
    }
  }
}
